{%- include url/global.html item=include.data %}
<div id="{{ include.uid }}" class="timeline-card timeline-card-hidden">
  <div class="timeline-card-close" onclick="toggle_timeline_card('{{ include.uid }}')">⨯</div>
  <div class="designation">{{ include.designation }}</div>
  <div class="timeline-card-detail">
{%- if g_url %}
{%- if include.cover-image %}
    <a class="timeline-card-detail-cover" href="{{ g_url }}"><img class="timeline-card-detail-cover-image" src="{{ include.cover-image }}" alt="{{ include.cover-image-alt}}"></a>
{%- endif %}
    <a class="timeline-card-detail-label" href="{{ g_url }}">{{ include.label }}</a>
{%- if include.sublabel %}
    <a class="timeline-card-detail-sublabel" href="{{ g_url }}">{{ include.sublabel }}</a>
{%- endif %}
{%- else %}
{%- if include.cover-image %}
    <img class="timeline-card-detail-cover timeline-card-detail-cover-image" src="{{ include.cover-image }}"  alt="{{ include.cover-image-alt}}">
{%- endif %}
    <div class="timeline-card-detail-label">{{ include.label }}</div>
{%- if include.sublabel %}
    <div class="timeline-card-detail-sublabel">{{ include.sublabel }}</div>
{%- endif %}
{%- endif %}
{%- if include.inforows %}
    <table class="timeline-card-detail-info">
      {{- include.inforows }}
    </table>
{%- endif %}
{%- if include.media %}
    <div class="timeline-card-detail-media">
{%- include mediacard/dispatch.html media=include.media from=include.media-from %}
    </div>
{%- endif %}
  </div>
</div>