{%- include show/get.html ref=include.show-ref %}
{%- assign show = g_show %}
{%- assign uid = "show-" | append: show.uid%}
{%- include media/get.html ref=include.media-ref %}
{%- if show.assets.cover-image %}
{%- capture cover-image %}
{%- include coverimage/base.html data=show %}
{%- endcapture %}
{%- else %}
{%- assign cover-image = nil %}
{%- endif %}
{%- capture inforows %}
{% include inforow/base.html
  label="date"
  value=show.date -%}
{% include inforow/base.html
  label="venue"
  value=show.location -%}
{% include inforow/setlistfm.html data=show -%}
{%- if show.event-page %}
{% include inforow/base.html
  label=""
  value="event page"
  url=show.event-page -%}
{%- endif %}
{%- endcapture %}
{%- include timeline/card/base.html
  data=show
  designation="show"
  label=show.fullname
  sublabel=show.sublabel
  cover-image=cover-image
  media=g_media
  media-from=include.media-from
  inforows=inforows
  uid=uid %}