/* Colors */

:root {
  --color-cocoro-light: #95d3f0;
  --color-hika-light: #fe747e;
  --color-kanade-light: #ff71c0;
  --color-kanade-lighter: #ffe3f2;
  --color-natsu: #fff001;
  --color-natsu-light: #fff880;
  --color-natsu-lighter: #fffee6;

  --color-kanade-cocoro-light: #c3a9d8;

  --color-not-black: darkslategray;
  --color-designation: gray;

  --gradient-bar: linear-gradient(120deg,
      var(--color-kanade-cocoro-light) 0%,
      var(--color-kanade-light) 5%,
      var(--color-kanade-light) 20%,
      var(--color-hika-light) 30%,
      var(--color-hika-light) 45%,
      var(--color-natsu-light) 55%,
      var(--color-natsu-light) 70%,
      var(--color-cocoro-light) 80%,
      var(--color-cocoro-light) 95%,
      var(--color-kanade-cocoro-light) 100%);

  --gradient-page: repeating-linear-gradient(170deg,
      var(--color-kanade-lighter) 0%,
      var(--color-natsu-lighter) 60vh,
      var(--color-kanade-lighter) 120vh);
}


/* Variable reference unit depending on the screen */

:root {
  --base-font-size: 18px;
  /* Default base size */
}

/* Media Queries for different screen sizes and devices*/
@media (max-width: 767px) {
  :root {
    --base-font-size: 16px;
  }
}

@media (min-width: 768px) {
  :root {
    --base-font-size: 18px;
  }
}

@media (min-resolution: 150dpi) and (pointer: coarse) {

  /* High-DPI touch devices */
  :root {
    --base-font-size: 22px;
  }
}

html {
  font-size: var(--base-font-size);
}

/* page layout */

body {
  margin: 0;
  overflow-y: scroll;
}

header {
  position: sticky;
  top: 0;
  min-height: 3rem;
}

main {
  min-height: calc(100vh - 4.85rem);
}

footer {
  position: sticky;
  bottom: 0;
  min-height: 1.85rem;
  box-sizing: content-box;
}

#main-content {
  max-width: 62rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem 1rem 4rem 1rem;
}

#main-overlay {
  position: fixed;
  top: 5rem;
  right: calc(max(50% - 23rem, 3rem));
  min-width: 26rem;
  max-width: 46rem;
}

.main-overlay-hidden {
  display: none;
}

/* Bing wants a h1 to index a page, but we don't care */
h1 {
  display: none;
}

/* page style */

html {
  text-size-adjust: none;
}

body {
  font-family: "Noto Sans", "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  line-height: 1rem;
  background-color: var(--color-kanade-lighter);
  background: var(--gradient-page);
}

a {
  text-decoration: none;
}

/* main content layout */

h2 {
  margin: 3rem 0 1rem 0;
  padding: 0.1rem 0 0 0.5rem;
}

.main-intro {
  margin: 0 0 0 4rem;
  padding: 0 1rem 0.5rem 1rem;
}

/* main content styling */

h2 {
  border-top: solid 1px gray;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 700;
}

.main-intro {
  border-bottom: solid 1px lightgray;
}

/* navigation bar layout */

nav {
  padding: 0.4rem 0 0.4rem 5rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;
  grid-template-areas: 'title mains supports';
}

.nav-logo {
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
  z-index: 10;
}

.nav-logo-img {
  height: 6rem;
}

.nav-main-items {
  padding: 0 2rem 0rem 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.nav-main-item {
  margin: 0.1rem 0rem 0.1rem 1rem;
}

.nav-support-items {
  padding: 0 0.5rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-support-item {
  margin-top: 0.2rem;
}

/* navigation bar styling */

nav {
  background-color: var(--color-natsu);
  background: var(--gradient-bar);
  mask-image: linear-gradient(black, black calc(100% - 0.3rem), transparent);
}

.nav-site-title {
  font-size: 0.7rem;
  line-height: 0.7rem;
  font-weight: 600;
  color: var(--color-not-black);
  display: block;
}

.nav-main-item {
  font-size: 1.1rem;
  line-height: 1.1rem;
  font-weight: 600;
  color: var(--color-not-black);
}

.nav-support-item {
  font-size: 0.7rem;
  line-height: 0.7rem;
  font-weight: 600;
  color: var(--color-not-black);
}

/* footer layout */

footer {
  background: var(--gradient-bar);
  mask-image: linear-gradient(transparent, black 0.2rem, black);
  padding: 0.2rem 0 0.1rem 0;
  box-sizing: border-box;
}

.footer-bottom-right {
  position: absolute;
  bottom: 0.1rem;
  right: 0.3rem;
}

/* footer styling */

footer {
  font-size: 0.5rem;
  line-height: 0.5rem;
}

.footer-content {
  text-align: center;
}

/* item details layout */

.item-details {
  display: grid;
  grid-template-columns: auto 1fr;
}

.item-details-cover {
  height: 14rem;
  width: 14em;
  object-fit: contain;
  padding: 1px;
  border: solid 1px var(--color-not-black);
}

.item-details-main {
  padding: 0 0 0 1rem;
}

.item-details-designation {
  margin: 0.2rem 0 0.3rem 0;
}

.item-details-labels {
  margin: 0 0 1rem 0;
}

.item-details-info {
  padding: 0 0 0 0.5rem;
}

.item-details-info-label {
  text-align: right;
  padding: 0 0.2rem 0 0;
  vertical-align: baseline;
}

.item-details-info-value {
  vertical-align: baseline;
}

/* item details styling */

.item-details-cover {
  background-color: var(--color-not-black);
}

.item-details-designation {
  color: var(--color-designation);
  text-transform: uppercase;
  font-size: 1.1rem;
  line-height: 1.1rem;
  font-weight: 600;
}

.item-details-label {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
}

.item-details-sublabel {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 600;
}

.item-details-info-label {
  font-size: 0.8rem;
  line-height: 0.8rem;
}

.item-details-info-value {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 600;
}

/* Line card layout */

.line-card {
  width: fit-content;
  display: grid;
  grid-template-columns: min-content min-content 1fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas: 'cover designation date' 'cover label label';
}

.item-details-main .line-card {
  margin: 0 0 0.5rem 0.5rem;
}

.line-card-cover {
  grid-area: cover;
  height: 2rem;
  width: 2rem;
  object-fit: contain;
  border: solid 0.5px var(--color-not-black);
  margin: 0 0.2rem 0 0;
}

.line-card-designation {
  grid-area: designation;
  align-self: baseline;
}

.line-card-date {
  grid-area: date;
  align-self: baseline;
  margin: 0 0 0 0.4rem;
}

.line-card-label {
  grid-area: label;
}


/* Line card styling */

.line-card {
  color: black;
}

.line-card-designation {
  color: var(--color-designation);
  text-transform: uppercase;
  font-size: 0.7rem;
  line-height: 0.7rem;
  font-weight: 600;
}

.line-card-date {
  font-size: 0.6rem;
  line-height: 0.6rem;
  font-weight: 500;
}

.line-card-label {
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 700;
}

/* small card layout */

.medium-card-tree>.small-card-list {
  margin: 0 0 0 2em;
  border-left: solid 1px gray;
}

.small-card {
  width: fit-content;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content min-content min-content 1fr;
  grid-template-areas: 'cover designation' 'cover label' 'cover sublabel' 'cover date';
}

.small-card-list>.small-card {
  margin: 1em 0 1em 1em;
}

.small-card-list>.small-card-tree {
  margin: 0 0 0 1em;
  padding: 1em 0 0 0;
}

.small-card-cover {
  grid-area: cover;
  height: 4rem;
  width: 4rem;
  object-fit: contain;
  border: solid 0.5px var(--color-not-black);
  margin: 0 0.4rem 0 0;
}

.small-card-designation {
  grid-area: designation;
  margin: 0.1rem 0 0.0rem 0;
}

.small-card-label {
  grid-area: label;
}

.small-card-sublabel {
  grid-area: sublabel;
  margin: 0 0 0 0.2rem;
}

.small-card-date {
  grid-area: date;
  margin: 0 0 0 0.2rem;
}

/* small card styling */

.small-card {
  color: black;
}

.small-card-cover {
  background-color: var(--color-not-black);
}

.small-card-designation {
  text-transform: uppercase;
  color: var(--color-designation);
  font-weight: 700;
  font-size: 0.7rem;
  line-height: 0.7rem;
}

.small-card-label {
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 700;
}

.small-card-sublabel {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 600;
}

.small-card-date {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  color: var(--color-not-black);
}

/* medium card layout */

.medium-card-list>.medium-card-tree {
  margin: 2em 0 0 0;
}

.medium-card {
  width: fit-content;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content min-content min-content 1fr;
  grid-template-areas: 'cover designation' 'cover label' 'cover sublabel' 'cover date';
}

.medium-card-list>.medium-card {
  margin: 1em 0 1em 1em;
}

.medium-card-tree>.medium-card {
  margin: 1em 0 0 1em;
}

.medium-card-cover {
  grid-area: cover;
  height: 6rem;
  width: 6rem;
  object-fit: contain;
  border: solid 0.5px var(--color-not-black);
  margin: 0 0.4rem 0 0;
}

.medium-card-designation {
  grid-area: designation;
  margin: 0.1rem 0 0.1rem 0;
}

.medium-card-label {
  grid-area: label;
}

.medium-card-sublabel {
  grid-area: sublabel;
  margin: 0.2rem 0 0 0.2rem;
}

.medium-card-date {
  grid-area: date;
  margin: 0.2rem 0 0 0.2rem;
}

/* medium card styling */

.medium-card {
  color: black;
}

.medium-card-cover {
  background-color: var(--color-not-black);
}

.medium-card-designation {
  text-transform: uppercase;
  color: var(--color-designation);
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 0.8rem;
}

.medium-card-label {
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 700;
}

.medium-card-sublabel {
  font-size: 1.3rem;
  line-height: 1.3rem;
  font-weight: 600;
}

.medium-card-date {
  font-size: 0.9rem;
  line-height: 0.9rem;
  font-weight: 600;
  color: var(--color-not-black);
}

/* multimedia card layout */

.multimedia-card {
  display: inline-block;
  vertical-align: top;
  margin: 0 0.5rem 0.5rem 0;
}

.multimedia-card-label {
  margin-bottom: 0.2rem;
}

.multimedia-card-image {
  width: fit-content;
  position: relative;
  margin-bottom: -0.1rem;
}

.multimedia-card-image-over {
  height: 15%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.multimedia-card-image-under {
  height: 12rem;
  min-height: 12rem;
}

.multimedia-card-sublabel {
  width: 0px;
  min-width: 100%;
}

/* multimedia card style */

.multimedia-card-label {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 700;
}

.multimedia-card-sublabel {
  font-size: 0.5rem;
  line-height: 0.5rem;
  font-weight: 600;
}

.multimedia-card-image-under {
  background-color: var(--color-not-black);
}

/* testing */

/* main {
  background-color: var(--color-natsu);
  background-color: pink;
} */

#main-overlay {
  background-color: gray;
  min-height: 6rem;
}

/* #main-content {
  background-color: brown;
} */