/* Colors */

:root {
  --color-cocoro: #2ba6e1;
  --color-cocoro-light: rgb(from var(--color-cocoro) calc((r + 255)/2) calc((g + 255)/2) calc((b + 255)/2));
  --color-cocoro-dark: rgb(from var(--color-cocoro) calc((r + 128)/2) calc((g + 128)/2) calc((b + 128)/2));
  --color-cocoro-darker: rgb(from var(--color-cocoro) calc(r/2) calc(g/2) calc(b/2));
  --color-cocoro-50: rgb(from var(--color-cocoro) r g b / 0.5);
  --color-cocoro-05: rgb(from var(--color-cocoro) r g b / 0.05);
  --color-hika: #e50112;
  --color-hika-light: rgb(from var(--color-hika) calc((r + 255)/2) calc((g + 255)/2) calc((b + 255)/2));
  --color-hika-dark: rgb(from var(--color-hika) calc((r + 128)/2) calc((g + 128)/2) calc((b + 128)/2));
  --color-hika-50: rgb(from var(--color-hika) r g b / 0.5);
  --color-hika-10: rgb(from var(--color-hika) r g b / 0.1);
  --color-kanade: #e2007e;
  --color-kanade-light: rgb(from var(--color-kanade) calc((r + 255)/2) calc((g + 255)/2) calc((b + 255)/2));
  --color-kanade-lighter: rgb(from var(--color-kanade) calc((r + 2303)/10) calc((g + 2303)/10) calc((b + 2303)/10));
  --color-kanade-dark: rgb(from var(--color-kanade) calc((r + 128)/2) calc((g + 128)/2) calc((b + 128)/2));
  --color-kanade-50: rgb(from var(--color-kanade) r g b / 0.5);
  --color-kanade-05: rgb(from var(--color-kanade) r g b / 0.05);
  --color-natsu: #fff001;
  --color-natsu-light: rgb(from var(--color-natsu) calc((r + 255)/2) calc((g + 255)/2) calc((b + 255)/2));
  --color-natsu-lighter: rgb(from var(--color-natsu) calc((r + 2303)/10) calc((g + 2303)/10) calc((b + 2303)/10));
  --color-natsu-dark: rgb(from var(--color-natsu) calc((r)/2) calc((g)/2) calc((b)/2));
  --color-natsu-50: rgb(from var(--color-natsu) r g b / 0.5);
  --color-natsu-10: rgb(from var(--color-natsu) r g b / 0.1);
  --color-natsu-05: rgb(from var(--color-natsu) r g b / 0.05);

  --color-kanade-cocoro-light: color-mix(in oklab, var(--color-kanade-light), var(--color-cocoro-light));
  --color-kanade-cocoro-dark: color-mix(in oklab, var(--color-kanade-dark), var(--color-cocoro-dark));

  --color-not-black: darkslategray;
  --color-not-gray: #d0d0d0;
  --color-designation: gray;

  --gradient-bar: linear-gradient(120deg,
      var(--color-kanade-cocoro-light) 0%,
      var(--color-kanade-light) 5%,
      var(--color-kanade-light) 20%,
      var(--color-hika-light) 30%,
      var(--color-hika-light) 45%,
      var(--color-natsu-light) 55%,
      var(--color-natsu-light) 70%,
      var(--color-cocoro-light) 80%,
      var(--color-cocoro-light) 95%,
      var(--color-kanade-cocoro-light) 100%);

  --gradient-page: repeating-linear-gradient(170deg,
      var(--color-kanade-lighter) 0%,
      var(--color-natsu-lighter) 60vh,
      var(--color-kanade-lighter) 120vh);
}


/* Variable reference unit depending on the screen */

:root {
  --base-font-size: 18px;
  /* Default base size */
}

/* Media Queries for different screen sizes and devices*/
@media (max-width: 1023px) {
  :root {
    --base-font-size: 16px;
  }
}

@media (min-width: 1024) {
  :root {
    --base-font-size: 18px;
  }
}

@media (min-resolution: 150dpi) and (pointer: coarse) {

  /* High-DPI touch devices */
  :root {
    --base-font-size: 22px;
  }
}

html {
  font-size: var(--base-font-size);
}

/* page layout */

body {
  margin: 0;
  overflow-y: scroll;
}

header {
  position: sticky;
  top: 0;
  min-height: 3rem;
  z-index: 10;
}

main {
  min-height: calc(100vh - 4.85rem);
}

footer {
  position: sticky;
  bottom: 0;
  min-height: 1.85rem;
  box-sizing: content-box;
}

#main-content {
  max-width: 62rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem 1rem 4rem 1rem;
}

#main-overlay {
  position: fixed;
  top: 5rem;
  right: calc(max(50% - 23rem, 3rem));
  box-sizing: border-box;
  min-width: 26rem;
  max-width: min(46rem, calc(100vw - 6rem));
}

.main-overlay-hidden {
  display: none;
}

/* Bing wants a h1 to index a page, but we don't care */
h1 {
  display: none;
}

/* page style */

html {
  text-size-adjust: none;
}

body {
  font-family: "Noto Sans", "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  line-height: 1rem;
  background-color: var(--color-kanade-lighter);
  background: var(--gradient-page);
}

a {
  text-decoration: none;
}

/* main content layout */

h2 {
  margin: 3rem 0 1rem 0;
  padding: 0.1rem 0 0 0.5rem;
}

.main-intro {
  margin: 0 0 0 4rem;
  padding: 0 1rem 0.5rem 1rem;
}

.main-extra {
  text-align: end;
  margin: 1rem 1rem 0 0;
}


.status {
  margin-left: 1rem;
  padding: 0 0.5rem 0 0.5rem
}


/* main content styling */

h2 {
  border-top: solid 1px gray;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 700;
}

.main-title {
  margin: 0 0 0 4rem;
}

.main-intro {
  font-size: 1rem;
  line-height: normal;
  border-bottom: solid 1px lightgray;
}

.main-extra {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.status {
  font-size: 0.7rem;
  line-height: 0.7rem;
}

.status-warning {
  color: white;
  background-color: orange;
}

.status-danger {
  color: white;
  background-color: red;
}

.status-na {
  color: white;
  background-color: black;
}

/* navigation bar layout */

nav {
  padding: 0.4rem 0 0.4rem 5rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;
  grid-template-areas: 'title mains supports';
}

.nav-logo {
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
  z-index: 20;
}

.nav-logo-img {
  height: 6rem;
}

.nav-main-items {
  padding: 0 2rem 0rem 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.nav-main-item {
  margin: 0.1rem 0rem 0.1rem 1rem;
}

.nav-support-items {
  padding: 0 0.5rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-support-item {
  margin-top: 0.2rem;
}

/* navigation bar styling */

nav {
  background-color: var(--color-natsu);
  background: var(--gradient-bar);
  mask-image: linear-gradient(black, black calc(100% - 0.3rem), transparent);
}

.nav-site-title {
  font-size: 0.7rem;
  line-height: 0.7rem;
  font-weight: 600;
  color: var(--color-not-black);
  display: block;
}

.nav-item-selected {
  text-decoration: underline;
}

.nav-main-item {
  font-size: 1.1rem;
  line-height: 1.1rem;
  font-weight: 600;
  color: var(--color-not-black);
}

.nav-support-item {
  font-size: 0.7rem;
  line-height: 0.7rem;
  font-weight: 600;
  color: var(--color-not-black);
}

/* footer layout */

footer {
  background: var(--gradient-bar);
  mask-image: linear-gradient(transparent, black 0.2rem, black);
  padding: 0.2rem 0 0.1rem 0;
  box-sizing: border-box;
}

.footer-bottom-right {
  position: absolute;
  bottom: 0.1rem;
  right: 0.3rem;
}

.footer-bottom-left {
  position: absolute;
  bottom: 0.1rem;
  left: 0.3rem;
}

/* footer styling */

footer {
  font-size: 0.5rem;
  line-height: 0.5rem;
}

.footer-content {
  text-align: center;
}

.footer-bottom-left {
  color: black;
  font-size: 0.6rem;
  line-height: 0.6rem;
  font-weight: 800;
}

/* band page layout */

.band-name {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 'logo text news' 'sublabel text news';
  /* width: 100%; */
}

.band-name-logo {
  grid-area: logo;
  width: min(10rem, 20vw);
  object-fit: cover;
  display: block;
  margin: 1rem 1rem 0 1rem;
  box-shadow: 0px 0px 2rem 2rem white
}

.band-name-sublabel {
  grid-area: sublabel;
  margin: 0 auto 0.5rem auto;
  padding: 0.3rem 0 0.5rem 0;
  width: fit-content;
}

.band-description {
  grid-area: text;
  margin: 0.8rem 1rem 0 0.5rem;
}


.band-panel {
  width: 100%;
  max-width: 1500px;
  aspect-ratio: 1500 / 802;
  background-image: url(/asset/image/site/band-getover-01.png);
  background-size: contain;
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-template-rows: 1fr auto;
  grid-template-areas:
    'kanade-info hika-info cocoro-info natsu-info'
    'kanade-summary hika-summary cocoro-summary natsu-summary';
  container-type: size;
}


.band-panel-member-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.7cqw;
}

.band-panel-member-summary {
  padding: 2cqw 0 2cqw 0;
}

.band-panel-member-summary-name {
  text-align: center;
}

.band-panel-member-summary-role {
  text-align: center;
}

.band-panel-member-kanade.band-panel-member-info {
  grid-area: kanade-info;
  display: none;
}

.band-panel-member-kanade.band-panel-member-summary {
  grid-area: kanade-summary;
}

.band-panel-member-hika.band-panel-member-info {
  grid-area: hika-info;
  display: none;
}

.band-panel-member-hika.band-panel-member-summary {
  grid-area: hika-summary;
}

.band-panel-member-cocoro.band-panel-member-info {
  grid-area: cocoro-info;
  display: none;
}

.band-panel-member-cocoro.band-panel-member-summary {
  grid-area: cocoro-summary;
}

.band-panel-member-natsu.band-panel-member-info {
  grid-area: natsu-info;
  display: none;
}

.band-panel-member-natsu.band-panel-member-summary {
  grid-area: natsu-summary;
}

.band-panel-member-kanade.band-panel-member-info.band-panel-member-selected {
  display: flex;
}


.band-panel-member-hika.band-panel-member-info.band-panel-member-selected {
  display: flex;
}

.band-panel-member-cocoro.band-panel-member-info.band-panel-member-selected {
  display: flex;
}

.band-panel-member-natsu.band-panel-member-info.band-panel-member-selected {
  display: flex;
}

.band-socials {
  margin: 0.5rem auto 0 auto;
  width: fit-content;
  text-align: center;
}

.band-socials .socialmedia-card {
  font-size: 1.1rem;
  line-height: 1.1rem;
  font-weight: 500;
  margin: 0 1rem 0 1rem;
}

/* band page styling */

.band-name-sublabel {
  font-size: 0.9rem;
  line-height: 0.99rem;
  font-weight: 500;
}


.band-description {
  font-size: 0.9rem;
  line-height: 0.99rem;
  font-weight: 500;
  text-align: justify;
}



.band-panel-member-summary {
  text-shadow: 0.1cqw 0.1cqw white, -0.1cqw -0.1cqw white;
}

.band-panel-member-summary-name {
  font-size: 4cqw;
  line-height: 4cqw;
  font-weight: 700;
  cursor: pointer;
}

.band-panel-member-summary-role {
  font-size: 2cqw;
  line-height: 2cqw;
  font-weight: 600;
  cursor: pointer;
}

.band-panel-member-kanade.band-panel-member-info {
  background-color: var(--color-kanade-50);
}

.band-panel-member-hika.band-panel-member-info {
  background-color: var(--color-hika-50);
}

.band-panel-member-cocoro.band-panel-member-info {
  background-color: var(--color-cocoro-50);
}

.band-panel-member-natsu.band-panel-member-info {
  background-color: var(--color-natsu-50);
}

.band-panel-member-kanade.band-panel-member-summary.band-panel-member-selected {
  background-color: var(--color-kanade-50);
}

.band-panel-member-hika.band-panel-member-summary.band-panel-member-selected {
  background-color: var(--color-hika-50);
}

.band-panel-member-cocoro.band-panel-member-summary.band-panel-member-selected {
  background-color: var(--color-cocoro-50);
}

.band-panel-member-natsu.band-panel-member-summary.band-panel-member-selected {
  background-color: var(--color-natsu-50);
}

/* news block layout */

.news {
  position: relative;
  grid-area: news;
  box-sizing: border-box;
  width: 13rem;
  height: 12rem;
  border: solid 0.05rem var(--color-designation);
  margin: 1.5rem 0.4rem 1rem 0.4rem;
  padding: 0.4rem;
  background-color: var(--color-natsu-10);
}

.news-dots {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.25rem 0.5rem 0 0;
}

.news-dot {
  display: inline;
  font-size: 0.4rem;
  line-height: 0.4rem;
  margin: 0 0.2rem 0 0;
}

.news-area {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 9rem;
  margin: 0.5rem 0 0 0;
  padding: 0.2rem;
  overflow: hidden;
}


.news-item {
  box-sizing: border-box;
  width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.news-item-hidden {
  display: none;
}

.news-item-title {
  margin: 0 0 0.3rem 0;
}

.news-tags {
  text-align: center;
}


/* news block styling */

.news {
  font-size: 0.9rem;
  line-height: 0.99rem;
  font-weight: 500;
}

.news-title {
  color: var(--color-designation);
}

.news-dot {
  color: lightgray;
  cursor: pointer;
}

.news-dot-selected {
  color: var(--color-not-black);
}

.news-item {
  color: black
}

.news-item:hover {
  color: var(--color-cocoro-darker)
}

.news-item-title {
  font-weight: 700;
}


.news-tags {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
}

/* item details layout */

.item-details {
  display: grid;
  grid-template-columns: auto 1fr;
}

.item-details-cover {
  height: 14rem;
  width: 14em;
  object-fit: contain;
  padding: 1px;
  border: solid 1px var(--color-not-black);
}

.item-details-main {
  padding: 0 0 0 1rem;
}

.item-details-designation {
  margin: 0.2rem 0 0.3rem 0;
}

.item-details-description {
  margin: 1rem 15% 0 0;
}

.item-details-description p {
  margin: 0.5rem 0 0.5rem;
}

.item-details-labels {
  margin: 0 0 1rem 0;
}

.item-details-info {
  padding: 0 0 0 0.5rem;
}

.item-details-info-label {
  text-align: right;
  padding: 0 0.2rem 0 0;
  vertical-align: baseline;
}

.item-details-info-value {
  vertical-align: baseline;
}

/* item details styling */

.item-details-cover {
  background-color: var(--color-not-black);
}

.item-details-designation {
  color: var(--color-designation);
  text-transform: uppercase;
  font-size: 1.1rem;
  line-height: 1.1rem;
  font-weight: 600;
}

.item-details-label {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
}

.item-details-sublabel {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 600;
}

.item-details-info-label {
  font-size: 0.8rem;
  line-height: 0.8rem;
}

.item-details-info-value {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 600;
}

/* medium details layout */

.medium-details {
  width: fit-content;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content min-content min-content min-content 1fr;
  grid-template-areas: 'cover designation' 'cover label' 'cover sublabel' 'cover parent' 'cover info';
}

.medium-details-cover,
.medium-details>.multimedia-card-image {
  grid-area: cover;
  object-fit: contain;
  margin: 0 0.4rem 0 0;
}

.medium-details-cover-img {
  height: 6rem;
  width: 6rem;
  border: solid 0.5px var(--color-not-black);
  object-fit: contain;
}

.medium-details-designation {
  grid-area: designation;
  margin: 0.1rem 0 0.1rem 0;
}

.medium-details-labels {
  grid-area: label;
}

.medium-details-sublabel {
  grid-area: sublabel;
  margin: 0.2rem 0 0 0.2rem;
}

.medium-details>.line-card {
  grid-area: parent;
  padding: 0.3rem 0 0 0.5rem;
}

.medium-details-info {
  grid-area: info;
  padding: 0.3rem 0 0 0.5rem;
}

.medium-details-info-label {
  text-align: right;
  padding: 0 0.2rem 0 0;
  vertical-align: baseline;
}

.medium-details-info-value {
  vertical-align: baseline;
}


.item-details-description {
  font-size: 1rem;
  line-height: normal;
  border-top: solid 1px var(--color-not-gray)
}

/* medium details styling */

.medium-details {
  color: black;
}

.medium-details-cover-img {
  background-color: var(--color-not-black);
}

.medium-details-designation {
  text-transform: uppercase;
  color: var(--color-designation);
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 0.8rem;
}

.medium-details-labels {
  margin: 0 0 0.5rem 0;
}

.medium-details-label {
  color: black;
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 700;
}

.medium-details-sublabel {
  color: black;
  font-size: 1.3rem;
  line-height: 1.3rem;
  font-weight: 600;
}

.medium-details-info-label {
  font-size: 0.7rem;
  line-height: 0.7rem;
}

.medium-details-info-value {
  font-size: 0.9rem;
  line-height: 0.9rem;
  font-weight: 600;
}

/* Line card layout */

.line-card {
  width: fit-content;
  display: grid;
  grid-template-columns: min-content min-content 1fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas: 'cover designation date' 'cover label label';
}

.item-details-main .line-card {
  margin: 0 0 0.5rem 0.5rem;
}

.line-card-cover {
  grid-area: cover;
  height: 2rem;
  width: 2rem;
  object-fit: contain;
  border: solid 0.5px var(--color-not-black);
  margin: 0 0.2rem 0 0;
}

.line-card-designation {
  grid-area: designation;
  align-self: baseline;
}

.line-card-date {
  grid-area: date;
  align-self: baseline;
  margin: 0 0 0 0.4rem;
}

.line-card-label {
  grid-area: label;
}


/* Line card styling */

.line-card {
  color: black;
}

.line-card-designation {
  color: var(--color-designation);
  text-transform: uppercase;
  font-size: 0.7rem;
  line-height: 0.7rem;
  font-weight: 600;
}

.line-card-date {
  font-size: 0.6rem;
  line-height: 0.6rem;
  font-weight: 500;
}

.line-card-label {
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 700;
}

/* small card layout */

.medium-card-tree>.small-card-list {
  margin: 0 0 0 2em;
  border-left: solid 1px gray;
}

.medium-card-tree>.small-card {
  margin: 1em 0 0 1em;
}

.small-card {
  width: fit-content;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content min-content min-content 1fr;
  grid-template-areas: 'cover designation' 'cover label' 'cover sublabel' 'cover date';
}

.small-card-list>.small-card {
  margin: 1em 0 1em 1em;
}

.small-card-list>.small-card-tree {
  margin: 0 0 0 1em;
  padding: 1em 0 0 0;
}

.small-card-cover {
  grid-area: cover;
  height: 4rem;
  width: 4rem;
  object-fit: contain;
  border: solid 0.5px var(--color-not-black);
  margin: 0 0.4rem 0 0;
}

.small-card-designation {
  grid-area: designation;
  margin: 0.1rem 0 0.0rem 0;
}

.small-card-label {
  grid-area: label;
}

.small-card-sublabel {
  grid-area: sublabel;
  margin: 0 0 0 0.2rem;
}

.small-card-date {
  grid-area: date;
  margin: 0 0 0 0.2rem;
}

/* small card styling */

.small-card {
  color: black;
}

.small-card-cover {
  background-color: var(--color-not-black);
}

.small-card-designation {
  text-transform: uppercase;
  color: var(--color-designation);
  font-weight: 700;
  font-size: 0.7rem;
  line-height: 0.7rem;
}

.small-card-label {
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 700;
}

.small-card-sublabel {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 600;
}

.small-card-date {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  color: var(--color-not-black);
}

/* medium card layout */

.medium-card-list>.medium-card-tree {
  margin: 2em 0 0 0;
}

.medium-card {
  width: fit-content;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content min-content min-content 1fr;
  grid-template-areas: 'cover designation' 'cover label' 'cover sublabel' 'cover date';
}

.medium-card-list>.medium-card {
  margin: 1em 0 1em 1em;
}

.medium-card-tree>.medium-card {
  margin: 1em 0 0 1em;
}

.medium-card-cover {
  grid-area: cover;
  height: 6rem;
  width: 6rem;
  object-fit: contain;
  border: solid 0.5px var(--color-not-black);
  margin: 0 0.4rem 0 0;
}

.medium-card-designation {
  grid-area: designation;
  margin: 0.1rem 0 0.1rem 0;
}

.medium-card-label {
  grid-area: label;
}

.medium-card-sublabel {
  grid-area: sublabel;
  margin: 0.2rem 0 0 0.2rem;
}

.medium-card-date {
  grid-area: date;
  margin: 0.2rem 0 0 0.2rem;
}

/* medium card styling */

.medium-card {
  color: black;
}

.medium-card-cover {
  background-color: var(--color-not-black);
}

.medium-card-designation {
  text-transform: uppercase;
  color: var(--color-designation);
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 0.8rem;
}

.medium-card-label {
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 700;
}

.medium-card-sublabel {
  font-size: 1.3rem;
  line-height: 1.3rem;
  font-weight: 600;
}

.medium-card-date {
  font-size: 0.9rem;
  line-height: 0.9rem;
  font-weight: 600;
  color: var(--color-not-black);
}

/* multimedia card layout */

.multimedia-card {
  display: inline-block;
  vertical-align: top;
  margin: 0 0.5rem 0.5rem 0;
}

.chronology-overlay-multimedia>.multimedia-card {
  margin: 0 auto 0 auto;
  display: block;
  width: max-content;
}

.multimedia-card-label {
  margin-bottom: 0.2rem;
  width: fit-content;
}

.multimedia-card-image {
  display: inline-block;
  width: fit-content;
  position: relative;
  margin-bottom: -0.1rem;
}

.multimedia-card-image-over {
  height: 15%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.multimedia-card-image-under {
  height: 12rem;
  min-height: 12rem;
}

.multimedia-card-sublabel {
  width: 0px;
  min-width: 100%;
}

/* multimedia card style */

.multimedia-card-label {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 700;
}

.multimedia-card-label-unavailable {
  text-decoration: line-through 0.1rem var(--color-not-black);
}

.multimedia-card-sublabel {
  font-size: 0.5rem;
  line-height: 0.5rem;
  font-weight: 600;
}

.multimedia-card-image-under {
  background-color: var(--color-not-black);
}

/* socialmedia card layout */

.socialmedia-card,
.socialmedia-card-link {
  display: inline-block;
}

.socialmedia-card-logo {
  height: 1rem;
  vertical-align: top;
  margin-right: 0.1rem;
}

/* socialmedia card styling */

.socialmedia-card {
  color: black;
}

/* overlay layout */

#main-overlay {
  border: solid black 0.2rem;
  padding: 0.8rem 0.8rem 0.8rem 0.8rem;
}

#main-overlay-content {
  min-height: 2rem;
  width: 100%;
}

.main-overlay-close {
  position: absolute;
  top: -0.1rem;
  right: 0.4rem;
}

/* overlay styling */

#main-overlay {
  background-color: white;
  background: var(--gradient-page);
}

.main-overlay-close {
  cursor: pointer;
  font-size: 1.7rem;
  line-height: 1.7rem;
  font-weight: 700;
  color: var(--color-not-black);
}

/* chronology page layout */

.chronology-overlay-multimedia {
  border-top: solid 1px var(--color-not-black);
  margin: 1rem 0 0 0;
  padding: 0.5rem 0 0 0;
}

/* chronology page styling */


/* lyrics layout */

.lyrics-languages-selection {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

.lyrics-sections {
  width: fit-content;
  margin: 0 0 0 1rem;
}

.lyrics-section {
  padding: 1rem 0.5rem 0.5rem 1.5rem;
}

.lyrics-line {
  width: 100%;
  padding: 0.4rem 0 0 0.5rem;
}

.lyrics-sub-part-last {
  width: initial;
}

.lyrics-sub td {
  width: 1px;
  white-space: nowrap;
  padding: 0 0.2rem 0.2rem 0;
}

td.lyrics-sub-part-last {
  width: initial;
  padding: 0 0 0.2rem 0;
}

.lyrics-sub-hidden {
  display: none;
}

/* lyrics styling */

.lyrics-languages-selection {
  font-size: 0.8rem;
  line-height: 0.8rem;
}

.lyrics-section:nth-child(even) {
  background-color: var(--color-natsu-05);
}

.lyrics-section:nth-child(odd) {
  background-color: var(--color-cocoro-05);
}

.lyrics-line:nth-child(even) {
  background-color: var(--color-kanade-05);
}

.lyrics-line:nth-child(odd) {
  background-color: var(--color-hika-10);
}

.lyrics-sub {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 400;
  letter-spacing: 0.02rem;
  vertical-align: baseline;
}

.lyrics-sub-ro {
  color: var(--color-natsu-dark);
}

.lyrics-sub-ww {
  color: var(--color-kanade);
}

.lyrics-sub-en {
  color: var(--color-cocoro-dark);
}

.lyrics-sub-gg {
  color: var(--color-cocoro-dark);
}

.lyrics-sub-atr {
  color: var(--color-cocoro-dark);
}

.lyrics-sub-aro {
  color: var(--color-cocoro);
}

.lyrics-sub-link {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 300;
}

.lyrics-sub-link-tiny {
  font-size: 0.5rem;
  line-height: 0.5rem;
  font-weight: 400;
}

/* about page layout */

.about-section {
  margin: 0 0 0 1rem;
}

.about-manekineko {
  float: right;
  margin: 0 0 1rem 1rem;
}

/* about page styling */

.about-section {
  font-size: 1rem;
  line-height: normal;
}

.about-lyrics-manekineko {
  color: var(--color-cocoro-dark);
}

/* sources page layout */

.sources-block {
  margin: 2rem auto 0 auto;
}

.sources-spacer {
  width: 0.5rem;
}

.sources-category-label {
  padding: 0.05rem 0.2rem 0.05rem 0.2rem;
}

.sources-item-label {
  padding: 0.05rem 0.2rem 0.15rem 0.2rem;
}


.sources-entry-label {
  padding: 0 0.2rem 0.05rem 0.5rem;
  text-align: right;
}

/* sources page styling */

.sources-category-label {
  font-size: 0.9rem;
  line-height: 0.9rem;
  border-top: solid 1px var(--color-not-black);
}

.sources-item-label {
  font-size: 0.8rem;
  line-height: 0.8rem;
  border-top: solid 1px var(--color-not-black);
}

.sources-entry {
  font-size: 0.75rem;
  line-height: 0.75rem;
}

/* media pages layout */

/* media pages styling */
.media-summary-block {
  font-size: 1rem;
  line-height: normal;
}

/* ======= testing ======== */

/* main {
  background-color: var(--color-natsu);
  background-color: pink;
} */

/* #main-overlay {
  background-color: gray;
  min-height: 6rem;
} */

/* #main-content {
  background-color: brown;
} */