---
layout: default
title: About
---
{%- capture main %}
<h2>What is this site</h2>
<div class="about-section">
  <p>This site was created with two main starting goals:</p>
  <ul>
    <li>Have a place to store details of the Japanese lyrics. My japanese is
      pretty poor, but I like to try to get a better understanding of the
      original lyrics, to go farther than the sometime so-so English version.
      I might as well share the resources I am using.
    </li>
    <li>Provide a place with some information about the band. There is no main
      page for the band at this point. I found this quite frustrating when I
      started to look for information about NEK!.<br/>
      So I started to add a bit of basic information about the band and their
      music<br/>
      ... then it got a bit out of hand 😁
    </li>
  </ul>
</div>
<h2>Updates</h2>
<p class="about-section">Notification about content updates, and other general updates, are done at {% include main/socialmedia-link.html smid="bluesky" handle="neki-fan-resources.github.io" %}.</p>
<a name="requests"></a><h2>Questions - Suggestions - Requests - Contact</h2>
<p class="about-section">For any questions, suggestions, requests, please use {% include main/socialmedia-link.html smid="bluesky" handle="neki-fan-resources.github.io" %} or the <a href="https://github.com/neki-fan-resources/neki-fan-resources.github.io/issues" target="_blank"><img class="socialmedia-logo" src="/asset/image/logo/github-logo.svg">GitHub issue tracker</a></p>
{%- endcapture %}
{%- include main/base.html content=main designation="about" %}