---
layout: default
title: Band
name: Band
---

<div class="outer_div">
  <div class="side_nav_div">
  </div>
  <div class="main_div">
    <h1 id="band_name">Nek! <span>(pronounced Neki)</span></h1>
    <div id="band_overview">
      <table>
        <tr>
            {% include band-member-summary.html member=site.data.members.kanade %}
            {% include band-member-summary.html member=site.data.members.hika %}
            {% include band-member-summary.html member=site.data.members.cocoro %}
            {% include band-member-summary.html member=site.data.members.natsu %}
        </tr>
        <tr>
          <td class="band_member_details band_member_kanade">
            {% include band-member-details.html member=site.data.members.kanade %}
          </td>
          <td class="band_member_details band_member_hika">
            {% include band-member-details.html member=site.data.members.hika %}
          </td>
          <td class="band_member_details band_member_cocoro">
            {% include band-member-details.html member=site.data.members.cocoro %}
          </td>
          <td class="band_member_details band_member_natsu">
            {% include band-member-details.html member=site.data.members.natsu %}
          </td>
        </tr>
      </table>
      <div class="band_details">
        <table>
          <tr>
  {% for social in site.data.band.socialmedia %}
    {% assign smid = social[0] %}
    {% assign handle = social[1] %}
            <td class="socialmedia">
              {% include socialmedia-link.html smid=smid handle=handle %}</a>
            </td>
  {% endfor %}
           </tr>
        </table>
      </div>
    </div>
  </div>
</div>

