---
layout: live
title: Nek! Live
name: Live
---

<div class="top_designation">live</div>

{% assign songs_by_release_date = site.songs | sort: "order" %}
{% for song in songs_by_release_date %}
  {% assign medias = site.data.songs[song.uid].assets.media | where_exp: "m", "m.live" | where_exp: "m", "m.youtubeshort == nil" %}
  {% if medias.first %}
<div class="song_block">
  <h2 class="song_block_title">{{ song.fullname }}</h2>
  {% for media in medias %}
  {% include media.html media=media %}
  {% endfor %}    
</div>
  {% endif %}
{% endfor %}

{% assign concerts_by_release_date = site.concerts | sort: "order" %}
{% for concert in concerts_by_release_date %}
  {% assign medias = site.data.concerts[concert.uid].assets.media | where_exp: "m", "m.live" | where_exp: "m", "m.youtubeshort == nil" %}
  {% if medias.first %}
<div class="song_block">
  <h2 class="song_block_title">{{ concert.fullname }}</h2>
  {% for media in medias %}
  {% include media.html media=media %}
  {% endfor %}    
</div>
  {% endif %}
{% endfor %}

{% for song in songs_by_release_date %}
  {% assign medias = site.data.songs[song.uid].assets.media | where_exp: "m", "m.live" | where_exp: "m", "m.youtubeshort" %}
  {% if medias.first %}
<div class="song_block">
  <h2 class="song_block_title">{{ song.fullname }}</h2>
  {% for media in medias %}
  {% include media.html media=media %}
  {% endfor %}    
</div>
  {% endif %}
{% endfor %}

