---
layout: default
title: Live NEK!
---
{%- include collections/songs.html %}
{%- include collections/shows.html %}
{%- capture main -%}
{%- for song in g_songs %}
{%- assign live-video-refs = 
  song.media.live
    | where_exp: "m", "m.youtube" %}
{%- if live-video-refs.first %}
<h2>{% include linecard/dispatch.html data=song %}</h2>
{{ song.uid }}
{% include mediacard/list.html medias=live-video-refs from="show" %}
{%- endif %}
{%- endfor %}
{%- for show in g_shows %}
{%- if show.media.concert %}
<h2>{% include linecard/dispatch.html data=show %}</h2>
{% include mediacard/list.html medias=show.media.concert from="song" %}
{%- endif %}
{%- endfor %}
{%- for song in g_songs %}
{%- assign live-video-refs = 
  song.media.live
    | where_exp: "m", "m.youtubeshort" %}
{%- if live-video-refs.first %}
<h2>{% include linecard/dispatch.html data=song %}</h2>
{% include mediacard/list.html medias=live-video-refs from="show" %}
{%- endif %}
{%- endfor %}
{%- endcapture -%}
{%- include main/base.html content=main designation="live" -%}