---
layout: default
title: Sources
---
{%- include collections/songs.html %}
{%- include collections/albums.html %}
{%- include collections/shows.html %}
{%- capture main %}
          <table class="sources-block">
{% include sources/section-label.html label="Band" %}
{% include sources/section-label.html label="Songs" %}
{%- for song in g_songs %}
{% include sources/subsong.html song=song -%}
{%- endfor %}
{% include sources/section-label.html label="Albums" %}
{%- for album in g_albums %}
{% include sources/subalbum.html album=album %}
{%- endfor %}
{% include sources/section-label.html label="Shows" %}
{%- for show in g_shows %}
{%- include sources/subshow.html show=show %}
{%- endfor %}
          </table>
{%- endcapture %}
{%- include main/base.html content=main designation="sources" %}