{%- comment -%}
compute the maximum number of cells in the line.
Used to correctly extends the last cell of each row
{%- endcomment -%}
{%- assign sizes = "" | split: ',' | push: 1 %}
{%- for sub in include.line %}
  {%- if sub[1][0] %}
    {%- assign sizes = sizes | push: sub[1].size %}
  {%- endif %}
{%- endfor %}
{%- assign nbcols = sizes | sort | last %}
      <table class="lyrics-line">
{%- for language in include.languages %}
{%- if include.line[language.id] %}
{%- assign sub=include.line[language.id] %}
{%- include lyrics/sub.html sub=sub language=language nbcols=nbcols %}
{%- endif %}
{%- endfor %}
      </table>