    <footer>
      <p class="footer-content">
        This website is not associated with the band NEK! or their production team.
      </p>
      <p class="footer-content">
        © Original content, website structure: SkyLuc. Lyrics, band resources, external resources: their respective owners.
      </p>
      <p class="footer-content">
        We aim to provide information as accurate as possible. If you notice a problem, please contact us.
      </p>
      <div class="footer-contact"><a href="/about.html#requests">questions and requests</a></div>
    </footer>