{% if page.collection %}
  {% assign data = site.data[page.collection][page.uid]%}
    {% if data.designation %}
      {% assign item_designation = data.designation %}
    {% else %}
      {% assign item_designation = site.data.collections[page.collection].item_designation %}
    {% endif %}
    {% capture title %}{{ data.fullname }}{% if data.sublabel %} - {{ data.sublabel }}{% endif %} - NEK! {{ item_designation }} - N!fr{% endcapture %}
    {% capture description %}{{ data.fullname }}{% if data.sublabel %} - {{ data.sublabel }}{% endif %} - NEK! {{ site.data.collections[page.collection].item_designation }}. NEK! (Neki) fan website. Provides resources around the band NEK!. Lyrics, videos, live, concerts, history.{% endcapture %}
    <title>{{ title }}</title>
    <meta name="description" content='{{ description }}'>
    <meta property="og:title" content='{{ title }}' />
    <meta property="og:description" content='{{ description }}' />
    <meta property="og:image" content="{{ site.url }}/assets/images/{{ page.collection }}/{{ page.uid }}/{{ data.assets.cover-image }}" />
{% else %}
    {% capture title %}{{ page.title }} - N!fr{% endcapture %}
    {% capture description %}NEK! - {{ page.title }}. NEK! (Neki) fan website. Provides resources around the band NEK!. Lyrics, videos, live, concerts, history.{% endcapture %}
    <title>{{ title }}</title>
    <meta name="description" content='{{ description }}'>
    <meta property="og:title" content='{{ title }}' />
    <meta property="og:description" content='{{ description }}' />
    <meta property="og:image" content="{{ site.url }}/assets/images/nifr-band.png" />
{% endif %}
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:logo" content="{{ site.url }}/assets/images/nifr-logo.png"/>
    <meta property="og:locale" content="en_US" />