<div class="song_media">
  <h4 class="song_media_title">{{ include.media.name }}</h4>
  <a
    href="https://www.youtube.com/watch?v={{ include.media.youtube }}"
    target="_blank">
    <div class="song_media_image">
      <img class="song_media_image_over"
        src="/assets/images/youtube-logo.svg"/>
      <img
        class="song_media_image_under"
        src="https://i.ytimg.com/vi/{{ include.media.youtube }}/mqdefault.jpg"/>
    </div>
  </a>
  {% if include.media.label %}
  <h5 class="song_media_label">{{ include.media.label }}</h5>
  {% endif %}
</div>