/* cover images layout */

.large-image-cover {
  display: inline-block;
  height: 14rem;
  width: 14em;
  object-fit: contain;
  padding: 1px;
  border: solid 1px var(--color-not-black);
}

.medium-image-cover {
  height: 6rem;
  width: 6rem;
  object-fit: contain;
  border: solid 0.5px var(--color-not-black);
  margin: 0 0.4rem 0 0;
}

.mediumsmall-image-cover {
  height: 4rem;
  width: 4rem;
  object-fit: contain;
  border: solid 0.5px var(--color-not-black);
  margin: 0 0.4rem 0 0;
}

.small-image-cover {
  height: 2rem;
  width: 2rem;
  object-fit: contain;
  border: solid 0.5px var(--color-not-black);
  margin: 0 0.2rem 0 0;
}

.small-icon {
  height: 2rem;
  width: 2rem;
  object-fit: contain;
}

.marker-image-cover {
  height: 3rem;
  width: 3rem;
  object-fit: contain;
  border: solid 0.5px var(--color-not-black);
  margin: 0 0.4rem 0 0;
}

/* cover images styling */

.large-image-cover,
.medium-image-cover,
.mediumsmall-image-cover,
.marker-image-cover,
.small-image-cover {
  background-color: var(--color-not-black);
}