/* Line card layout */

.line-card {
  width: fit-content;
  display: grid;
  grid-template-columns: min-content min-content 1fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas: 'cover designation date' 'cover label label';
}

.large-details-main .line-card {
  margin: 0 0 0.5rem 0.5rem;
}

.line-card>.small-image-cover {
  grid-area: cover;
}

.line-card-designation {
  grid-area: designation;
  align-self: baseline;
}

.line-card-date {
  grid-area: date;
  align-self: baseline;
  margin: 0 0 0 0.4rem;
}

.line-card-label {
  grid-area: label;
}


/* Line card styling */

.line-card {
  color: black;
}

.line-card-designation {
  color: var(--color-designation);
  text-transform: uppercase;
  font-size: 0.7rem;
  line-height: 0.7rem;
  font-weight: 600;
}

.line-card-date {
  font-size: 0.6rem;
  line-height: 0.6rem;
  font-weight: 500;
}

.line-card-label {
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 700;
}