/* Line card layout */

.marker-card {
  width: fit-content;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content min-content 1fr;
  grid-template-areas: 'cover designation' 'cover label' 'cover sublabel';
  padding: 0 0.5rem 0 0;
}


.marker-card>.marker-image-cover {
  grid-area: cover;
}

.marker-card-designation {
  grid-area: designation;
  align-self: baseline;
  margin: 0.2rem 0 0 0;
}

.marker-card-sublabel {
  grid-area: sublabel;
  align-self: baseline;
}

.marker-card-label {
  grid-area: label;
}

.marker-card-hidden {
  display: none;
}

.marker-card-visible {
  display: grid;
}

/* Line card styling */

.marker-card {
  color: var(--color-text);
  cursor: pointer;
}

.marker-card-designation {
  color: var(--color-designation);
  text-transform: uppercase;
  font-size: 0.7rem;
  line-height: 0.7rem;
  font-weight: 600;
}

.marker-card-sublabel {
  font-size: 0.7rem;
  line-height: 0.7rem;
  font-weight: 500;
}

.marker-card-label {
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 700;
}

.marker-card-type-show {
  background-color: #505020;
  background: linear-gradient(160deg, transparent 0rem, transparent 20%, var(--color-cocoro-light));
}

.marker-card-type-tour {
  background-color: #606020;
  background: linear-gradient(160deg, transparent 0rem, transparent 20%, var(--color-cocoro));
}

.marker-card-type-song {
  background-color: #202040;
  background: linear-gradient(160deg, transparent 0rem, transparent 20%, var(--color-kanade-light));
}

.marker-card-type-ep,
.marker-card-type-album {
  background-color: #202060;
  background: linear-gradient(160deg, transparent 0rem, transparent 20%, var(--color-kanade));
}

.marker-card-type-multimedia {
  background-color: #204020;
  background: linear-gradient(160deg, transparent 0rem, transparent 20%, #204020);
}