/* small card layout */

.medium-card-tree>.small-card-list {
  margin: 0 0 0 2em;
  border-left: solid 1px gray;
}

.medium-card-tree>.small-card {
  margin: 1em 0 0 1em;
}

.small-card {
  width: fit-content;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content min-content min-content 1fr;
  grid-template-areas: 'cover designation' 'cover label' 'cover sublabel' 'cover date';
}

.small-card-list>.small-card {
  margin: 1em 0 1em 1em;
}

.small-card-list>.small-card-tree {
  margin: 0 0 0 1em;
  padding: 1em 0 0 0;
}

.small-card>.mediumsmall-image-cover {
  grid-area: cover;
}

.small-card-designation {
  grid-area: designation;
  margin: 0.1rem 0 0.0rem 0;
}

.small-card-label {
  grid-area: label;
}

.small-card-sublabel {
  grid-area: sublabel;
  margin: 0 0 0 0.2rem;
}

.small-card-date {
  grid-area: date;
  margin: 0 0 0 0.2rem;
}

/* small card styling */

.small-card {
  color: black;
}

.small-card-designation {
  text-transform: uppercase;
  color: var(--color-designation);
  font-weight: 700;
  font-size: 0.7rem;
  line-height: 0.7rem;
}

.small-card-label {
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 700;
}

.small-card-sublabel {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 600;
}

.small-card-date {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  color: var(--color-not-black);
}