@import "colors";

// layout

footer {
  text-align: center;
  padding: 0.1rem 0 0.1rem 0;
  position: relative;
}

.footer-content {
  margin: 0;
  padding: 0;
}

.footer-contact {
  position: absolute;
  right: 0.3rem;
  bottom: 0.1rem;
}

// style

footer {
  background-color: $color_natsu_light;
  background: linear-gradient(120deg, $color_kanade_cocoro_light 0%, $color_kanade_light 5%, $color_kanade_light 20%, $color_hika_light 30%, $color_hika_light 45%, $color_natsu_light 55%, $color_natsu_light 70%, $color_cocoro_light 80%, $color_cocoro_light 95%, $color_kanade_cocoro_light 100%);
  font-size: 0.6rem;
  line-height: 0.6rem;
}