@import "colors.scss";

// layout

h1,
.designation {
  margin: 0 0 0.5rem 0;
}

h2 {
  padding: 0.1rem 0 0 0.5rem;
  margin: 3rem 0 1rem 0
}

.item-extra {
  margin: 1rem 1rem 0 0;
}

// style

h1,
.designation {
  text-transform: uppercase;
  font-size: 1.1rem;
  line-height: 1.1rem;
  font-weight: 700;
  color: $color_designation;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 700;
  border-top: gray solid 1px;
}

.item-extra {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: end;
}