@use 'sass:color';

$color_hika: #e50112;
$color_hika_light: scale-color($color_hika, $lightness: 50%);
$color_hika_dark: scale-color($color_hika, $lightness: -50%);
$color_hika_50: change-color($color_hika, $alpha: 0.5);
$color_natsu: #fff001;
$color_natsu_light: scale-color($color_natsu, $lightness: 50%);
$color_natsu_lighter: scale-color($color_natsu, $lightness: 90%);
$color_natsu_dark: scale-color($color_natsu, $lightness: -50%);
$color_natsu_50: change-color($color_natsu, $alpha: 0.5);
$color_kanade: #e2007e;
$color_kanade_light: scale-color($color_kanade, $lightness: 50%);
$color_kanade_lighter: scale-color($color_kanade, $lightness: 90%);
$color_kanade_dark: scale-color($color_kanade, $lightness: -50%);
$color_kanade_50: change-color($color_kanade, $alpha: 0.5);
$color_cocoro: #2ba6e1;
$color_cocoro_light: scale-color($color_cocoro, $lightness: 50%);
$color_cocoro_dark: scale-color($color_cocoro, $lightness: -25%);
$color_cocoro_50: change-color($color_cocoro, $alpha: 0.5);

$color_kanade_cocoro: mix($color_kanade, $color_cocoro);


// page

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: repeating-linear-gradient(170deg, $color_kanade_lighter 0%, $color_natsu_lighter 90vh, $color_kanade_lighter 180vh);
}

// top nav bar

nav {
  background-color: $color_natsu;
  background: linear-gradient(120deg, $color_kanade_cocoro 0%, $color_kanade 5%, $color_kanade 20%, $color_hika 30%, $color_hika 45%, $color_natsu 55%, $color_natsu 70%, $color_cocoro 80%, $color_cocoro 95%, $color_kanade_cocoro 100%);
  width: 100%;
  padding: 1em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  display: flex;
  align-items: first baseline;
}

nav h1 {
  margin: 0 3em 0 0;
}

nav h1 span {
  font-size: smaller;
}

nav a {
  margin-right: 2em;
  vertical-align: text-bottom;
  text-decoration: none;
  color: darkslategray;
}

nav a.current {
  border-bottom: darkslategray solid 0.1em;
}

.menu_item_not_band {
  font-size: smaller;
  align-self: flex-end;
}

nav > .menu_item_not_band {
  margin-left: auto;
}

nav > .menu_item_not_band ~ .menu_item_not_band{
  margin-left: 0;
}

// footer

.footer {
  background-color: $color_natsu;
  background: linear-gradient(120deg, $color_kanade_cocoro 0%, $color_kanade 5%, $color_kanade 20%, $color_hika 30%, $color_hika 45%, $color_natsu 55%, $color_natsu 70%, $color_cocoro 80%, $color_cocoro 95%, $color_kanade_cocoro 100%);
  text-align: center;
  font-size: x-small;
  padding-top: 0.2em;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

.footer p {
  margin: 0;
}

// side nav bar

.outer_div {
  overflow: hidden;
  display: flex;
  min-width: 100%;
}

.side_nav_div {
  padding: 3.5em 0 0 0;
  float: left;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.03);
}

.main_div {
  padding: 3.5em 0 3em 0;
  margin-left: auto;
  margin-right: auto;
  flex-grow: 1;
  overflow: hidden;
  display: inline;
}

.center_div {
  padding-left: 1em;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

.side_nav_div h3 {
  margin: 0;
  padding: 1rem 0 1rem 0.4em;
}

.side_nav_div table {
  padding: 0 1em 0 0.4em;
}

.side_nav_div tr {
  height: 1.5em;
}

.side_nav_div a {
  color: black;
  text-decoration: none;
  vertical-align: middle;
}

.main_div h1 {
  margin-top: 0.5rem;
}

// logo & icons

.socialmedia {
  font-size: 2cqw;
}

.socialmedia a {
  vertical-align: middle;
  text-decoration: none;
  color: white;
}

.socialmedia-logo {
  height: 1em;
  margin-right: 0.2em;
  vertical-align: middle;
}

// band page

#band_name {
  text-align: center;
  font-size: 3rem;
}

#band_name span {
  font-size: 2rem;
}

.band_details {
  margin-top: 1em;
}

.band_details table {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 3em 0;
}

.band_details a {
  color: black;
}

#band_overview {
  max-width: 1253px;
  aspect-ratio: 1253/722;
  margin-left: auto;
  margin-right: auto;
  background-image: url("/assets/images/neki-band.png");
  background-size: contain;
  container-type: size;
}

#band_overview > table {
  width: 100%;
  height: 100%;
  border-spacing: 0;
}

#band_overview td {
  width: 25%;
  text-align: center;
}

.band_member_summary {
  height: 25%;
  color: white;
  cursor: pointer;
}

.band_member_name {
  font-size: 4cqw;
  // font-size: xxx-large;
  font-weight: 600;
}

.band_member_instrument {
  font-size: 2cqw;
}

.band_member_more {
  margin-top: 1.2cqw;
}

.band_member_more_arrow {
  height: 4cqw;
  width: 4cqw;
  margin-left: auto;
  margin-right: auto;
  mask-image: url(/assets/images/exclamation.svg);
  mask-size: contain;
}

.band_member_more_arrow_rotate {
  transform: rotate(180deg);
}

#member-more-kanade {
  background-color: $color_kanade;
}

#member-more-hika {
  background-color: $color_hika;
}

#member-more-cocoro {
  background-color: $color_cocoro;
}

#member-more-natsu {
  background-color: $color_natsu;
}

.band_member_details {
  height: 75%;
}

.band_member_details_div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}

.band_member_details_hidden {
  display: none;
}


.band_member_details.band_member_kanade div {
  background-color: $color_kanade_50;
}

.band_member_details.band_member_hika div {
  background-color: $color_hika_50;
}

.band_member_details.band_member_cocoro div {
  background-color: $color_cocoro_50;
}

.band_member_details.band_member_natsu div {
  background-color: $color_natsu_50;
}

// song page

.song_block {
  margin-bottom: 3rem;
}

.song_title {
  overflow: hidden;
  display: flex;
  padding-top: 1em;
}

.song_cover {
  height: 14rem;
  float: left;
  margin-right: 1em;
  padding: 1px;
  border: black solid 1px;
}

.song_info_name:has(+ .song_info_name_en) {
  margin-bottom: 0;
}

.song_info_name_en {
  margin-top: 0.4rem;
}

.song_info_label {
  font-size: 90%;
  text-align: right;
}

.song_info_data {
  font-weight: 600;
}

.song_block_title {
  border-top: gray solid 1px;
  padding-left: 0.5rem;
  padding-top: 0.1rem
}

.song_media {
  display: inline-block;
  position: relative;
  margin-right: 0.5rem;
}

.song_media_title {
  margin-top: 0;
  margin-bottom: 0.2rem;
  padding-left: 0.2rem;
}

.song_media_image {
  width: fit-content;
  position: relative;
}

.song_media_image_over {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 33%;
  transform: translate(-50%, -50%);
}

.song_lyrics_status {
  margin-left: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: small;
  text-transform: lowercase;
}

.song_lyrics_status_warning {
  color: white;
  background-color: orange;
}

.song_lyrics_status_na {
  color: white;
  background-color: black;
}
  
.language_selection {
  font-size: smaller;
  margin-bottom: 1em;
}

.lyrics {
  display: inline-block;
}

.lyrics_section:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
}

.lyrics_section:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.lyrics_section {
  padding: 0.5em 0.5em 0.8em 2em;
  // border-left: $color_cocoro solid 0.2em;
}

.lyrics_section table {
  // border-left: $color_hika solid 0.2em;
  // margin-left: 0.1em;
  // margin-bottom: 0.5em;
  width: 100%;
  padding: 0 0.5em 0 0.5em;
}

.lyrics_section table:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.05);
}

.lyrics_section table:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.1);
}

.lyrics_line td {
  padding: 0;
}

.lyrics_hidden {
  display: none;
}

.lyrics_line td:not(:last-child) {
  width: 1px;
  white-space: nowrap;
  padding-right: 0.2em;
}

.lyrics_ro {
  color: $color_natsu_dark;
}

.lyrics_en {
  color: $color_cocoro_dark;
}

// song short

.album_short,
.song_short {
  overflow: hidden;
  display: flex;
  padding-top: 1em;
  text-decoration: none;
  color: black;
}

.album_short_cover,
.song_short_cover {
  height: 5rem;
  float: left;
  margin-right: 1em;
  padding: 1px;
  border: black solid 1px;
}

.song_short_info h2:has(+ h3) {
  margin-top: 0.25em;
  margin-bottom: 0;
}

.song_short_info h3 {
  margin-top: 0.4rem;
}

// album expanded

.album-expanded .song_short {
  margin-left: 3em;
}

.album_short_designation {
  color: grey
}

.album_short_name {
  margin-top: 0;
}

// about

.about_block {
  margin-top: 2em;
  text-align: justify;
}

// sources

.sources_block {
  margin-top: 2em;
  font-size: smaller;
}

.sources_page {
  border-top: black solid 1px;
}

.sources_subpage {
  border-top: gray solid 1px;
}

.sources_element_label {
  text-align: right;
  padding-left: 1em;
}

.sources_element_label,
.sources_element_separator,
.sources_element_description {
  font-size: smaller;
}

.sources_element_spacer {
  width: 1em;
}