{% assign album = site.data.albums[include.item.album] %}
{% capture uid -%}
  album-{{ include.item.album }}-{{ include.item.video }}
{%- endcapture %}
{% capture image -%}
  /assets/images/albums/{{ include.item.album }}/{{ album.assets.cover-image }}
{%- endcapture %}
{% if include.item.video %}
  {% assign designation = include.item.video %}
{% else %}
  {% assign designation = album.designation %}
{% endif %}
{% capture url -%}
  /albums/{{ include.item.album }}.html
{%- endcapture %}
{% if album.released == false %}
  {% assign key1 = "expected" %}
{% else %}
  {% assign key1 = "released" %}
{% endif %}
{% include timeline/block/block.html
  uid=uid
  designation=designation
  image=image
  label=album.fullname
  key1=key1
  value1=album.releaseDate
  url=url %}