<div id="{{ include.uid }}" class="timeline-item-block timeline-item-block-hidden">
{% if include.image %}
  <img class="timeline-item-block-cover" src="{{ include.image }}"/>
{% else %}
  <div class="timeline-item-block-coverph"></div>
{% endif %}
  <div class="timeline-item-block-info">
    <div class="timeline-item-block-designation">{{ include.designation }}</div>
    <h1 class="timeline-item-block-info-label">{{ include.label }}</h1>
{% if include.sublabel %}
    <h2 class="timeline-item-block-info-sublabel">{{ include.sublabel }}</h2>
{% endif %}
    <table>
{% if include.key1 %}
      <tr><td class="timeline-item-block-info-key">{{ include.key1 }}:</td><td class="timeline-item-block-info-value">{{ include.value1 }}</td></tr>
{% endif %}
{% if include.key2 %}
      <tr><td class="timeline-item-block-info-key">{{ include.key2 }}:</td><td class="timeline-item-block-info-value">{{ include.value2 }}</td></tr>
{% endif %}
    </table>
    <div class="timeline-item-block-buttons">
{% if include.url %}
      <a href="{{ include.url }}">↗</a>
{% endif %}
      <a onclick="toggle_timeline_block('{{ include.uid }}')">⨯</a>
    </div>
  </div>
</div>