{% assign concert = site.data.concerts[include.item.concert] %}
{% capture uid -%}
  concert-{{ include.item.concert }}
{%- endcapture %}
{% if concert.assets.cover-image %}
  {% capture image -%}
    /assets/images/concerts/{{ include.item.concert }}/{{ concert.assets.cover-image }}
  {%- endcapture %}
{% else %}
  {% assign image=nil%}
{% endif %}
{% if concert.shared %}
  {% assign url=nil %}
  {% assign designation="show" %}
{% else %}
  {% capture url -%}
    /concerts/{{ include.item.concert }}.html
  {%- endcapture %}
  {% assign designation="one man" %}
{% endif %}
{% include timeline/block/block.html
  uid=uid
  designation=designation
  image=image
  label=concert.fullname
  sublabel=concert.sublabel
  key1="date"
  value1=concert.date
  key2="venue"
  value2=concert.location
  url=url %}