{% assign song = site.data.songs[include.item.song] %}
{% capture uid -%}
  song-{{ include.item.song }}-{{ include.item.video }}
{%- endcapture %}
{% capture image -%}
  /assets/images/songs/{{ include.item.song }}/{{ song.assets.cover-image }}
{%- endcapture %}
{% if include.item.video %}
  {% assign designation = include.item.video %}
{% else %}
  {% assign designation = "song" %}
{% endif %}
{% capture url -%}
  /songs/{{ include.item.song }}.html
{%- endcapture %}
{% include timeline/block/block.html
  uid=uid
  designation=designation
  image=image
  label=song.fullname
  sublabel=song.fullname_en
  key1="released"
  value1=song.releaseDate
  url=url %}