{%- capture cover-image -%}
{% include coverimage/base.html data=include.data %}
{%- endcapture -%}

{%- capture info %}
{% include inforow/base.html
  label="first date"
  value=include.data.first-date -%}
{% include inforow/base.html
  label="last date"
  value=include.data.last-date -%}

{%- if include.data.event-page %}
{% include inforow/base.html
  label=""
  value="event page"
  url=include.data.event-page -%}
{%- endif %}
{% endcapture -%}

{%- include itemdetails/base.html
  cover-image=cover-image
  label=include.data.fullname
  sublabel=include.data.sublabel
  inforows=info
  data=include.data
-%}