/* about page layout */

.about-section {
  margin: 0 0 0 1rem;
}

.about-manekineko {
  float: right;
  margin: 0 0 1rem 1rem;
}

/* about page styling */

.about-section {
  font-size: 1rem;
  line-height: normal;
}

.about-lyrics-manekineko {
  color: var(--color-cocoro-dark);
}