/* band page layout */

.band-name {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 'logo text news' 'sublabel text news';
  /* width: 100%; */
}

.band-name-logo {
  grid-area: logo;
  width: min(10rem, 20vw);
  object-fit: cover;
  display: block;
  margin: 1rem 1rem 0 1rem;
  box-shadow: 0px 0px 2rem 2rem white
}

.band-name-sublabel {
  grid-area: sublabel;
  margin: 0 auto 0.5rem auto;
  padding: 0.3rem 0 0.5rem 0;
  width: fit-content;
}

.band-description {
  grid-area: text;
  margin: 0.8rem 1rem 0 0.5rem;
}


.band-panel {
  width: 100%;
  max-width: 1500px;
  aspect-ratio: 1500 / 802;
  background-image: url(/asset/image/site/band-getover-01.png);
  background-size: contain;
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-template-rows: 1fr auto;
  grid-template-areas:
    'kanade-info hika-info cocoro-info natsu-info'
    'kanade-summary hika-summary cocoro-summary natsu-summary';
  container-type: size;
}


.band-panel-member-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.7cqw;
}

.band-panel-member-summary {
  padding: 2cqw 0 2cqw 0;
}

.band-panel-member-summary-name {
  text-align: center;
}

.band-panel-member-summary-role {
  text-align: center;
}

.band-panel-member-kanade.band-panel-member-info {
  grid-area: kanade-info;
  display: none;
}

.band-panel-member-kanade.band-panel-member-summary {
  grid-area: kanade-summary;
}

.band-panel-member-hika.band-panel-member-info {
  grid-area: hika-info;
  display: none;
}

.band-panel-member-hika.band-panel-member-summary {
  grid-area: hika-summary;
}

.band-panel-member-cocoro.band-panel-member-info {
  grid-area: cocoro-info;
  display: none;
}

.band-panel-member-cocoro.band-panel-member-summary {
  grid-area: cocoro-summary;
}

.band-panel-member-natsu.band-panel-member-info {
  grid-area: natsu-info;
  display: none;
}

.band-panel-member-natsu.band-panel-member-summary {
  grid-area: natsu-summary;
}

.band-panel-member-kanade.band-panel-member-info.band-panel-member-selected {
  display: flex;
}


.band-panel-member-hika.band-panel-member-info.band-panel-member-selected {
  display: flex;
}

.band-panel-member-cocoro.band-panel-member-info.band-panel-member-selected {
  display: flex;
}

.band-panel-member-natsu.band-panel-member-info.band-panel-member-selected {
  display: flex;
}

.band-socials {
  margin: 0.5rem auto 0 auto;
  width: fit-content;
  text-align: center;
}

.band-socials .socialmedia-card {
  font-size: 1.1rem;
  line-height: 1.1rem;
  font-weight: 500;
  margin: 0 1rem 0 1rem;
}

/* band page styling */

.band-name-sublabel {
  font-size: 0.9rem;
  line-height: 0.99rem;
  font-weight: 500;
}


.band-description {
  font-size: 0.9rem;
  line-height: 0.99rem;
  font-weight: 500;
  text-align: justify;
}



.band-panel-member-summary {
  text-shadow: 0.1cqw 0.1cqw white, -0.1cqw -0.1cqw white;
}

.band-panel-member-summary-name {
  font-size: 4cqw;
  line-height: 4cqw;
  font-weight: 700;
  cursor: pointer;
}

.band-panel-member-summary-role {
  font-size: 2cqw;
  line-height: 2cqw;
  font-weight: 600;
  cursor: pointer;
}

.band-panel-member-kanade.band-panel-member-info {
  background-color: var(--color-kanade-50);
}

.band-panel-member-hika.band-panel-member-info {
  background-color: var(--color-hika-50);
}

.band-panel-member-cocoro.band-panel-member-info {
  background-color: var(--color-cocoro-50);
}

.band-panel-member-natsu.band-panel-member-info {
  background-color: var(--color-natsu-50);
}

.band-panel-member-kanade.band-panel-member-summary.band-panel-member-selected {
  background-color: var(--color-kanade-50);
}

.band-panel-member-hika.band-panel-member-summary.band-panel-member-selected {
  background-color: var(--color-hika-50);
}

.band-panel-member-cocoro.band-panel-member-summary.band-panel-member-selected {
  background-color: var(--color-cocoro-50);
}

.band-panel-member-natsu.band-panel-member-summary.band-panel-member-selected {
  background-color: var(--color-natsu-50);
}