:root {
  --color-cocoro: #2ba6e1;
  --color-cocoro-light: rgb(from var(--color-cocoro) calc((r + 255)/2) calc((g + 255)/2) calc((b + 255)/2));
  --color-cocoro-light2: rgb(from var(--color-cocoro) calc((r + 511)/3) calc((g + 512)/3) calc((b + 512)/3));
  --color-cocoro-lighter: rgb(from var(--color-cocoro) calc((r + 2303)/10) calc((g + 2303)/10) calc((b + 2303)/10));
  --color-cocoro-dark: rgb(from var(--color-cocoro) calc((r + 128)/2) calc((g + 128)/2) calc((b + 128)/2));
  --color-cocoro-darker: rgb(from var(--color-cocoro) calc(r/2) calc(g/2) calc(b/2));
  --color-cocoro-50: rgb(from var(--color-cocoro) r g b / 0.5);
  --color-cocoro-05: rgb(from var(--color-cocoro) r g b / 0.05);
  --color-hika: #e50112;
  --color-hika-light: rgb(from var(--color-hika) calc((r + 255)/2) calc((g + 255)/2) calc((b + 255)/2));
  --color-hika-light2: rgb(from var(--color-hika) calc((r + 511)/3) calc((g + 512)/3) calc((b + 512)/3));
  --color-hika-lighter: rgb(from var(--color-hika) calc((r + 2303)/10) calc((g + 2303)/10) calc((b + 2303)/10));
  --color-hika-dark: rgb(from var(--color-hika) calc((r + 128)/2) calc((g + 128)/2) calc((b + 128)/2));
  --color-hika-50: rgb(from var(--color-hika) r g b / 0.5);
  --color-hika-10: rgb(from var(--color-hika) r g b / 0.1);
  --color-kanade: #e2007e;
  --color-kanade-light: rgb(from var(--color-kanade) calc((r + 255)/2) calc((g + 255)/2) calc((b + 255)/2));
  --color-kanade-lighter: rgb(from var(--color-kanade) calc((r + 2303)/10) calc((g + 2303)/10) calc((b + 2303)/10));
  --color-kanade-dark: rgb(from var(--color-kanade) calc((r + 128)/2) calc((g + 128)/2) calc((b + 128)/2));
  --color-kanade-50: rgb(from var(--color-kanade) r g b / 0.5);
  --color-kanade-05: rgb(from var(--color-kanade) r g b / 0.05);
  --color-natsu: #fff001;
  --color-natsu-light: rgb(from var(--color-natsu) calc((r + 255)/2) calc((g + 255)/2) calc((b + 255)/2));
  --color-natsu-light2: rgb(from var(--color-natsu) calc((r + 511)/3) calc((g + 512)/3) calc((b + 512)/3));
  --color-natsu-lighter: rgb(from var(--color-natsu) calc((r + 2303)/10) calc((g + 2303)/10) calc((b + 2303)/10));
  --color-natsu-dark: rgb(from var(--color-natsu) calc((r)/2) calc((g)/2) calc((b)/2));
  --color-natsu-50: rgb(from var(--color-natsu) r g b / 0.5);
  --color-natsu-10: rgb(from var(--color-natsu) r g b / 0.1);
  --color-natsu-05: rgb(from var(--color-natsu) r g b / 0.05);

  --color-kanade-cocoro-light: color-mix(in oklab, var(--color-kanade-light), var(--color-cocoro-light));
  --color-kanade-cocoro-dark: color-mix(in oklab, var(--color-kanade-dark), var(--color-cocoro-dark));

  --color-not-black: darkslategray;

  /* fr colors */

  --color-text: black;
  --color-text-highlight: darkred;
  --color-text-soft: var(--color-not-black);
  --color-text-nav: var(--color-not-black);

  --color-designation-text: gray;

  --color-border-cover: var(--color-not-black);
  --color-bg-cover: var(--color-not-black);

  --color-border-light: #c0c0c0;

  --color-bg-news: var(--color-natsu-10);

  --color-bg-page: var(--color-kanade-lighter);
  --color-bg2-page: var(--color-natsu-lighter);

  --gradient-bg-page: repeating-linear-gradient(170deg,
      var(--color-kanade-lighter) 0%,
      var(--color-natsu-lighter) 60vh,
      var(--color-kanade-lighter) 120vh);


  --color-bg-bar: var(--color-kanade-light);
  --color-bg2-bar: var(--color-hika-light);

  --gradient-bg-bar: linear-gradient(120deg,
      var(--color-kanade-cocoro-light) 0%,
      var(--color-kanade-light) 5%,
      var(--color-kanade-light) 20%,
      var(--color-hika-light) 30%,
      var(--color-hika-light) 45%,
      var(--color-natsu-light) 55%,
      var(--color-natsu-light) 70%,
      var(--color-cocoro-light) 80%,
      var(--color-cocoro-light) 95%,
      var(--color-kanade-cocoro-light) 100%);


  --color-lyrics-section-bg-even: var(--color-natsu-05);
  --color-lyrics-section-bg-odd: var(--color-cocoro-05);
  --color-lyrics-line-bg-even: var(--color-kanade-05);
  --color-lyrics-line-bg-odd: var(--color-hika-10);

  --color-lyrics-ro: var(--color-natsu-dark);
  --color-lyrics-ww: var(--color-kanade);
  --color-lyrics-en: var(--color-cocoro-dark);
  --color-lyrics-gg: var(--color-cocoro-dark);
  --color-lyrics-atr: var(--color-cocoro-dark);
  --color-lyrics-aro: var(--color-cocoro);


  --bg-album: linear-gradient(160deg, transparent 0rem, transparent 20%, var(--color-kanade));
  --bg-group: linear-gradient(160deg, transparent 0rem, transparent 20%, #204020);
  --bg-multimedia: linear-gradient(160deg, transparent 0rem, transparent 20%, #204020);
  --bg-show: linear-gradient(160deg, transparent 0rem, transparent 20%, var(--color-cocoro-light));
  --bg-song: linear-gradient(160deg, transparent 0rem, transparent 20%, var(--color-kanade-light));
  --bg-tour: linear-gradient(160deg, transparent 0rem, transparent 20%, var(--color-cocoro));


  --color-chronology-bg-light: var(--color-hika-light2);
  --color-chronology-bg-dark: var(--color-cocoro-light2);
  --color-chronology-label: var(--color-not-black);
}