.content-interview-participanth-cocoro {
  color: var(--color-cocoro);
}

.content-interview-participanth-hika {
  color: var(--color-hika);
}

.content-interview-participanth-kanade {
  color: var(--color-kanade);
}

.content-interview-participanth-natsu {
  color: var(--color-natsu-darkish);
}