/* page layout */

body {
  margin: 0;
  overflow-y: scroll;
}

header {
  position: sticky;
  top: 0;
  min-height: 3rem;
  z-index: 10;
}

main {
  min-height: calc(100vh - 4.85rem);
}

footer {
  position: sticky;
  bottom: 0;
  min-height: 1.85rem;
  box-sizing: content-box;
}

#main-content {
  max-width: 62rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem 1rem 4rem 1rem;
}

#main-overlay {
  position: fixed;
  top: 5rem;
  right: calc(max(50% - 23rem, 3rem));
  box-sizing: border-box;
  min-width: 26rem;
  max-width: min(46rem, calc(100vw - 6rem));
}

.main-overlay-hidden {
  display: none;
}

/* Bing wants a h1 to index a page, but we don't care */
h1 {
  display: none;
}

a.anchor {
  display: block;
  position: relative;
  top: -8rem;
}