---
layout: default
opengraph: album
---
{%- assign data = site.data.album[page.uid] -%}
{%- capture main -%}
{%- include itemdetails/dispatch.html data=data -%}
<h2>Songs</h2>
<div class="small-card-list">
{%- for songuid in data.songs %}
{%- assign song = site.data.song[songuid]%}
{%- include smallcard/dispatch.html
  data=song
%}
{%- endfor %}
</div>
{%- if data.media.additional %}
<h2>Additional media</h2>
{% include mediacard/list.html medias=data.media.additional %}
{%- endif %}
{%- endcapture -%}
{%- include main/base.html content=main designation=data.designation -%}