---
layout: default
collection: album
---
{%- include item/frompage.html %}
{%- assign album = g_item %}
{%- capture main %}
{%- include itemdetails/dispatch.html data=album %}
<h2>Songs</h2>
<div class="small-card-list">
{%- for songuid in album.songs %}
{%- assign song = site.data.song[songuid]%}
{%- include smallcard/dispatch.html
  data=song
%}
{%- endfor %}
</div>
{%- if album.media.additional %}
<h2>Additional media</h2>
{% include mediacard/list.html medias=album.media.additional %}
{%- endif %}
{%- if song.media.extra %}
<div class="item-extra"><a href="/album/extra/{{ album.uid }}.html">Extra →</a></div>
{%- endif %}
{%- endcapture -%}
{%- include main/base.html content=main designation=album.designation -%}