---
layout: default
page-title-sub: "Concert - "
---
<div class="outer_div">
  <div class="side_nav_div">
  </div>
  <div class="main_div">
    <div class="center_div">
{% assign concert_data = site.data.concerts[page.uid] %}

      <div class="top_designation">concert</div>
      <div class="concert_title song_block">
{% if concert_data.assets.cover-image %}
        <img class="concert_cover" src="/assets/images/concerts/{{ page.uid }}/{{ concert_data.assets.cover-image }}"/>
{% endif %}
        <div class="concert_info">
          <h1 class="concert_info_name">{{ concert_data.fullname }}</h1>
          <table>
            <tr>
              <td class="concert_info_label">date:</td>
              <td class="concert_info_data">{{ concert_data.date }}</td>
            </tr>
            <tr>
              <td class="concert_info_label">venue:</td>
              <td class="concert_info_data">{{ concert_data.location }}</td>
            </tr>
{% if concert_data.setlistfm %}
            <tr>
              <td class="concert_info_label">setlist:</td>
              <td class="concert_info_data"><a href="https://www.setlist.fm/setlist/{{ concert_data.setlistfm }}.html" target="_blank">setlist.fm</a></td>
            </tr>
{% endif %}
          </table>
        </div>
      </div>

{% if concert_data.assets.media %}
      <div class="concert_media_block song_block">
        <h2 class="concert_media_block_title song_block_title">Media</h2>
  {% for media in concert_data.assets.media %}
    {% if media.additional != true %}
          {% include media.html media=media %}
    {% endif %}
  {% endfor %}    
      </div>
{% endif %}
    </div>
  </div>
</div>