<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
{% if page.url == "/" %}
    <meta name="google-site-verification" content="DrE-ZbcyBV3lPatFCBja2O4ymKzfqFXDZjkfkTpvY_8" />
{% endif %}
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="icon" type="image/png" href="/assets/images/nifr-favicon.png" sizes="32x32">
{% include og.html %}
  </head>
  <body>
    <script src="/assets/javascript/main.js"></script>
    {% include navigation.html %}
    {{ content }}
    {% include footer.html %}
  </body>
</html>
