{%- include item/frompage.html -%}
<!doctype html>
<html lang="en_US">
  <head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
{%- if page.url == "/" %}
    <meta name="google-site-verification" content="DrE-ZbcyBV3lPatFCBja2O4ymKzfqFXDZjkfkTpvY_8" />
    <meta name="msvalidate.01" content="B6C2BBE1BBDED01F740330EB10DEAEF8" />
{%- endif %}
{%- if g_item.dark %}
    <link rel="stylesheet" href="/asset/css/dark.css">
{%- else %}
    <link rel="stylesheet" href="/asset/css/styles.css">
{%- endif %}
    <link rel="icon" href="/favicon.ico">
    <link rel="icon" type="image/svg+xml" href="/nifr-logo.svg">
    <link rel="icon" type="image/png" sizes="512x512" href="/nifr-logo-512.png">
{% include opengraph/base.html item=g_item %}
  </head>
  <body>
    <script src="/asset/javascript/main.js"></script>
{% include navigationbar/base.html %}
{{ content }}
{% include footer.html item=g_item %}
  </body>
</html>
