---
layout: default
---

<div class="outer_div">
  <div class="side_nav_div">
    <h3>Songs</h3>
    <table>
      {% assign songs_by_release_date = site.songs | where: "haslive", true | sort: "order" %}
      {% for song in songs_by_release_date %}
      <tr><td><a href="{{ song.url }}">{{ site.data.songs[song.uid].fullname }}</a></td></tr>
      {% endfor %}
    </table>
    <h3>Concerts</h3>
    <table>
      {% assign concerts_by_release_date = site.concerts | where: "haslive", true | sort: "order" %}
      {% for concert in concerts_by_release_date %}
      <tr><td><a href="{{ concert.url }}">{{ site.data.concerts[concert.uid].fullname }}</a></td></tr>
      {% endfor %}
    </table>
  </div>
  <div class="main_div">
    <div class="center_div">
      {{ content }}
    </div>
  </div>
</div>