---
layout: default
opengraph: song
---
{%- assign data = site.data.song[page.uid] -%}
{%- capture main -%}
{%- include itemdetails/dispatch.html data=data -%}
{%- if data.media.video %}
<h2>Video</h2>
{% include mediacard/list.html medias=data.media.video from="show" %}
{%- endif %}
{%- if data.media.live %}
<h2>Live</h2>
{% include mediacard/list.html medias=data.media.live from="show" %}
{%- endif %}
{%- if data.media.short %}
<h2>Short</h2>
{% include mediacard/list.html medias=data.media.short from="show" %}
{%- endif %}
{%- if data.lyrics %}
{% include lyrics/base.html lyrics=data.lyrics %}
{%- endif %}
{%- if data.media.additional %}
<h2>Additional media</h2>
{% include mediacard/list.html medias=data.media.additional from="show" %}
{%- endif %}
{%- endcapture -%}
{%- include main/base.html content=main designation="song" -%}
