---
layout: default
collection: song
---
{%- include item/frompage.html %}
{%- assign song = g_item -%}
{%- capture main -%}
{%- include itemdetails/dispatch.html data=song -%}
{%- if song.media.video %}
<h2>Video</h2>
{% include mediacard/list.html medias=song.media.video from="show" %}
{%- endif %}
{%- if song.media.live %}
<h2>Live</h2>
{% include mediacard/list.html medias=song.media.live from="show" %}
{%- endif %}
{%- if song.media.short %}
<h2>Short</h2>
{% include mediacard/list.html medias=song.media.short from="show" %}
{%- endif %}
{%- if song.lyrics %}
{% include lyrics/base.html lyrics=song.lyrics %}
{%- endif %}
{%- if song.media.additional %}
<h2>Additional media</h2>
{% include mediacard/list.html medias=song.media.additional from="show" %}
{%- endif %}
{%- endcapture -%}
{%- include main/base.html content=main designation="song" -%}
