{%- if include.data.released == false %}
{%- assign not-released-class = " not-released" %}
{%- else %}
{%- assign not-released-class = nil %}
{%- endif %}
<a class="line-card" href="{{ include.url }}">  
  <div class="line-card-designation">{{ include.designation }}</div>
{%- if include.date %}
  <div class="line-card-date">{{ include.date }}</div>
{%- endif %}
  <img class="line-card-cover" src="{{ include.cover-image }}" alt="{% include coverimage/alt.html data=include.data %}">
  <div class="line-card-label{{ not-released-class }}" translate="no">{{ include.label }}</div>
</a>